apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: "v1.14.1"
apiServer:
  certSANs:
  - "{{ inventory_hostname }}"
  - "{{ virtual_ip }}"
controlPlaneEndpoint: "{{ inventory_hostname }}:6443"
etcd:
  external:
    endpoints:
{% for node in groups['etcd'] %}
    - https://{{ node }}:2379
{% endfor %}
    caFile: "/etc/etcd/ca.pem"
    certFile: "/etc/etcd/kubernetes.pem"
    keyFile: "/etc/etcd/kubernetes-key.pem"
networking:
  serviceSubnet: "10.16.0.0/12"
  podSubnet: "10.20.0.0/16"