[Unit]
Description=etcd

[Service]
Type=notify
WorkingDirectory=/var/lib/etcd/
Restart=always
RestartSec=10s
LimitNOFILE=40000
Environment=ETCD_NAME=%m
Environment=ETCD_DATA_DIR=/var/lib/etcd

ExecStart=/usr/local/bin/etcd \
  --name {{ inventory_hostname }} \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ inventory_hostname }}:2380 \
  --listen-peer-urls https://{{ inventory_hostname }}:2380 \
  --listen-client-urls  https://{{ inventory_hostname }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls https://{{ inventory_hostname }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {% for node in groups['etcd'] %}{{ node }}=https://{{ node }}:2380{% if not loop.last %},{% endif %}{% endfor %} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd

[Install]
WantedBy=multi-user.target